<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>決戰百里侯</title>

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <div id="myNavbar"></div>
  <div style="height: 50px; display: block;"></div>

  <div class="panel-group" id="accordion">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            里長福利
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
　所享福利如下(以台北市為例)<br><br>

　1.每月4萬5仟事務費薪資<strong> (免扣稅)</strong><br>

　2.每年9萬元三節獎金<strong> (扣稅)</strong><br>

　3.每年基層工程款20萬<strong> 隨你花！免報帳</strong><br>

　4.每年資源回收獎金35萬<strong>你辛苦資源回收的錢，由里長處理</strong><br>

　5.每年可向內政部申請社區發展補助<strong> 金額不限，以10萬元起跳</strong><br>

　6.每年健康檢查費3萬5仟元<strong> 憑單據核銷</strong><br>

　7.每年補助自強活動費6萬元<strong> 任你玩</strong><br>

　8.每任<strong>4年一任</strong>補助出國費9萬<strong> 香港當日來回即可</strong><br>

　9.每任一部機車4萬5仟元<strong> 單據核銷</strong><br>

　10.每任退休金9萬元<strong> 沒選上也有退休金可拿</strong><br>

　11.每任製裝費5萬元<strong> 單據核銷</strong><br>

　12.全家人享全民健保，免費哦！<strong>(第2類)</strong><br>

　13.任職期間病、傷、殘、喪、婚等….另有補助<br>

　其他還有回饋金、補助金、影印機事務費、村里辦公室租金補助等<br>

　總計每任<strong>4年一任</strong>淨額至少為364萬元<br>

　免打卡，無長官，無考績壓力，受各界尊重<strong>自已里民除外</strong><br>
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            里長職責
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
村/里長職責為各地市政府訂定，服務實施要點大致相同，僅在細節稍有不同<br>
（一）推行政令，反映民意。<br>
（二）推行村（里）文康活動。<br>
（三）協辦社會救助、兒童、少年、婦女、身心障礙者、老人保護、家庭暴力及性侵害防治、高風險家庭、弱勢家庭等查察通報事項、福利服務事項及其他改善生活環境與增進民眾福址有關事項。<br>
（四）代繕各種申請書表及辦理村（里）辦公處證明事項。<br>
（五）分送有關役政通知單、徵集令及辦理役男兵籍調查及兵役資料之查報。<br>
（六）辦理村（里）例行會議及加強鄰長會議之召開，並作成詳細紀錄，以備查考。<br>
（七）協辦各種公職人員選舉選務工作。<br>
（八）協辦房屋稅、地價稅發單催繳、綜合所得稅輔導申報等工作。<br>
（九）辦理村（里）工作會報之各項行政庶務。<br>
（十）其他交辦事項：係指臨時性統籌支援工作而言，公所各單位職掌範圍內工作，因重大或緊急或臨時亟需村（里）幹事協辦事項，應簽陳鄉（鎮、市）長核准後，再列入交辦事項。<br>
八、村(里)幹事對政府列冊有案之中低收入者、低收入戶、獨居老人每半年至少應分別訪問一次，如有特殊事蹟或遭遇重大災害者，應作成訪問紀錄，並登載於工作綜合紀錄簿列管追蹤。<br>
九、公所應至少每三個月舉行村(里)幹事工作會報一次，由鄉(鎮、市)長主持，鄉(鎮、市)長因故不能主持時，由主任秘書(秘書)或民政課長代理主持，得邀請公所各單位主管列席。<br>
<br>
<br>
"臺北市里鄰長服務要點"第3條第1目<br>
「(一)里長受區長之指揮監督，辦理下列里公務及交辦事項：<br>
1.里公務事項<br>
(1)里年度工作之策定及執行。<br>
(2)里公文之批閱及處理。<br>
(3)里民大會、基層建設座談會及里鄰工作會報之召開。<br>
(4)市政宣導及民情反映。<br>
(5)里長證明事項。<br>
(6)里幹事下里服勤之督導。<br>
(7)鄰長工作之指揮監督。<br>
(8)里內公共建設之推動。<br>
(9)里內緊急災害之反映及應變。<br>
2.交辦事項<br>
(1)里辦公處公告欄之維護。<br>
(2)區民活動中心之協助維護。<br>
(3)基層藝文活動、區文化特色及體育活動之參與及協助。<br>
(4)區、戶政工作站之協助推動。<br>
(5)睦鄰互助及守望相助工作之推動。<br>
(6)垃圾分類及資源回收之協助推動。<br>
(7)滅鼠、滅蟑及防治病媒蚊、登革熱之協助推動。<br>
(8)受虐兒童、婦女及里內獨居老人之通報訪視及救助。<br>
(9)社會福利及急難救助之協助。<br>
(10)鄰里公園之協助維護及發動里民認養。<br>
(11)地區環境改造計畫之協助推動。<br>
(12)其他區公所交辦事項。」<br>

        </div>
      </div>
    </div>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            我可以選里長嗎？
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          資格如下：<br>

　年滿23歲，戶籍滿4個月<br>

　免保證金！僅需身分證、印章，登記後即可參選<br>

　<strong>禁治產人除外，不識字、老殘、傷病、貧困者皆可</strong><br>
<br>
<br>


        </div>
      </div>
    </div>
  </div>





  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="myNavbar.js"></script>

  </body>
</html>