<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no"> -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../favicon.ico">

    <title>決戰百里侯 ─ 你對你的村/里了解多少?</title>

    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <!-- google map api -->
</head>

<body>

<!-- Fixed navbar -->
<div id="myNavbar"></div>

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        
        <h1></h1>

    </div>
</div>

<div id="leader_info" class="margin-right:5px;margin-left:5px;">
    
    <!-- <div> -->
    <!--     <input id="pac&#45;input" class="controls" type="text" placeholder="Enter a location"> -->
    <!--     <div id="map&#45;canvas"></div> -->
    <!-- </div> -->
    
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted"><a href="https://github.com/MROS/ccsp_project">MROS/ccsp_project ─ Find Ur Villager</a></p>
        <!-- <image src="http://i.imgur.com/yvYNtwO.png" width="40px" height="40px" style="float:right;"> -->
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/views/myNavbar.js"></script>

</body>
</html>
