<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>決戰百里侯</title>

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/views/index.html">決戰百里侯</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">大前方</a></li>
                    <li><a href="#about">里長戰力</a></li>
                    <li><a href="/views/sample.html">過往事績</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

  
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <div id="selectBar">
      <div id="village-input-bar" class="input-group" style="width: 200px;">
        <input type="text" class="form-control"> <!-- style="width: 100px;"> -->
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
  </div>

	<!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button onclick="return false;" type="submit" class="addDataBtn btn btn-default" >Submit</button>
  </form>
 -->
  <div id="division-bar" class="btn-toolbar" role="toolbar">
    <!-- <div class="btn-group"> -->
      <button type="button" class="btn btn-success" >北投區</button>
      <button type="button" class="btn btn-success" >中山區</button>
      <button type="button" class="btn btn-success" >大同區</button>
      <button type="button" class="btn btn-success" >萬華區</button>
      <button type="button" class="btn btn-success" >中正區</button>
      <button type="button" class="btn btn-success" >大安區</button>
      <button type="button" class="btn btn-success" >士林區</button>
      <button type="button" class="btn btn-success" >松山區</button>
      <button type="button" class="btn btn-success" >內湖區</button>
      <button type="button" class="btn btn-success" >信義區</button>
      <button type="button" class="btn btn-success" >南港區</button>
      <button type="button" class="btn btn-success" >文山區</button>
    <!-- </div> -->

  </div>

  <div style="height:10px"></div>

  <div id="village-bar" class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <!-- insert when division-bar click -->
    </div>
  </div>
  <div>
    <button id="delete-btn" type="button" class="btn btn-info" >delete</button>
  </div>



  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="graph.js"></script>
  <script type="text/javascript" src="selectBar.js"></script>

  </body>
</html>
